<h3>Task Form</h3>
<a href="{% url 'tasks' %}">Go Back</a>
<form method="post" action="">
    <!-- crucial security measure to protect against Cross-Site Request Forgery (CSRF) attacks. -->
    {% csrf_token %}
    <!-- In Django, {{ form }} is a template tag used to render a form within an HTML template. -->
    <!-- The {{ form.as_p }} tag renders the form fields as a paragraph for basic formatting. -->
    {{form.as_p}} 
    <input type="submit" value="Submit">
</form>







<!-- extra -->
<!-- Always include {% csrf_token %} in all Django forms that use POST, PUT, PATCH, or DELETE methods.
This protection is essential for safeguarding sensitive actions on your website.
Django handles the token generation and validation automatically, so you don't need to write additional code. -->